@wink-border : {
	animation: 1s border infinite;
}
@keyframes border {
	0% {
		box-shadow: 0px 0px 3px inset rgba(255, 0, 0, 0);
	}
	75% {
		box-shadow: 0px 0px 3px inset red;
	}
}
:root {
	--bs-w: -4px;
}
@keyframes border-right {
	
	0% {
		box-shadow: 0px 0px 3px inset rgba(255, 0, 0, 0);
	}
	
	75%{
		box-shadow: -5px 0 3px var(--bs-w) inset #ff0000,
	0 -5px 3px var(--bs-w) inset #ff0000, 
	0 5px 3px var(--bs-w) inset #ff0000;}
}
@keyframes border-left {
	
	0% {
		box-shadow: 0px 0px 3px inset rgba(255, 0, 0, 0);
	}
	
	75%{
		box-shadow: 5px 0 3px var(--bs-w) inset #ff0000,
	0 -5px 3px var(--bs-w) inset #ff0000, 
	0 5px 3px var(--bs-w) inset #ff0000;}
}


.detail {
	position: fixed;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	// background-color: var(--vscode-sideBar-background);
	background-color: var(--cg-bg);
	overflow-x: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	.title-zone {
		flex: none;
		display: flex;
		flex-direction: column;
		padding: 8px;
		border-bottom: 1px solid var(--cg-border);
		.title {
			flex: none;
			display: flex;
			align-items: center;
			
			
			.title-name {
				color: var(--cg-color-highlight);
				font-size: var(--fz-lg);
				flex: 1;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				margin-left: 2px;
				transform: translateY(-1px);
			}
			.previous {
				transform: translateY(-1px);
				color: var(--cg-color);
				opacity: .8;
			}
			.tools {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 2px 4px 1px;
				border-radius: 4px;
				color: var(--cg-color-fade);
			}
			.tools.expanded {
				margin: 0;
				padding: 2px 4px 1px;
				background-color: var(--cg-bg-fade);
				.tool-icon {
					color: var(--cg-color-highlight);
				}
				.expand-tools {
					margin-left: 4px;
				}
			}
			.expand-tools {
				.iUnlock {
					transform: translateY(-1px);
				}
				.cancel-btn {
					margin-left: -3px;
				}
				.clearable-btn {
					margin-left: -3px;
				}
				.active {
					color: var(--cg-color-highlight);
				}
				.expand-inner {
					display: flex;
					align-items: center;
					gap: 4px;
				}
			}
			.tool-icon {
				transform: translateY(-1px);
				opacity: .8;
				color: var(--cg-color);
			}
		}
		.closeInput {
			margin-top: 4px;
			flex: none;
		}
	}

	.define {
		flex: none;
		.file-title {
			display: flex;
			align-items: flex-end;
			margin: 8px 0;
			.file-name {
				flex: none;
				margin-right: 8px;
				line-height: var(--fz-md);
				font-size: var(--fz-md);
			}
			.file-path {
				font-size: var(--fz-xs);
			}
			padding-left: 15px;
		}
		.ref-item {
			margin: 8px 0px;
			padding-left: 15px;
			.ref-name {
				background-color: var(--cg-color-highlight);
				background-clip: text;
			}
		}
	}
	.refs {
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		.reference-title {
			flex: none;
		}
		.reference-container {
			flex: 1;
			// overflow: auto;
		}
		
		.ref-file {
			position: relative;
			.file-title {
				display: flex;
				align-items: flex-end;
				padding: 8px 8px 8px;
				.file-expand {
					transition: .3s;
					transform: translateX(-2px);
					transform-origin: center;
					flex: none;
					margin-right: 4px;
					color: white;
				}
				.file-expand.expanded {
					transform: translateX(-2px) rotate(90deg);
				}
				position: relative;
				&.active-file {
					&:not(:has(.expanded)) {
						background-color: #2a9c8e78;
						&::after {
							display: block;
							position: absolute;
							content: '';
							left: 0;
							top: 0;
							width: 2px;
							height: 100%;
							background-color:  var(--cg-color-highlight);
							z-index: 100;
						}
					}
				}
				.file-name {
					flex: none;
					margin-right: 8px;
					line-height: var(--fz-md);
					font-size: var(--fz-md);
				}
				.file-path {
					font-size: var(--fz-xs);
				}
				.define-wrapper {
					margin-right: 4px;
				}
				.define-circle-flag {
					font-size: var(--fz-xs);
					line-height: var(--fz-xs);
					font-weight: 800;
					color: rgb(255, 123, 0);
				}
			}
			.ref-list {
				// padding-left: 16px;
				position: relative;
				// top: -8px;
				.expand-inner {
					overflow: hidden;
					.ref-grid {
						display: grid;
						grid-template-columns: auto 1fr;
						// &:not(:has(.active-ref:last-child)) {
						// 	margin-bottom: 8px;
						// }
						.ref-line {
							cursor: pointer;
							font-size: var(--fz-xs);
							align-self: stretch;
							display: flex;
							align-items: center;
							padding: 6px 0 6px 8px;
							position: relative;
							&.define-ref {
								font-weight: 800;
								color: rgb(255, 123, 0);
							}
							&.active-ref::after {
								display: block;
								position: absolute;
								content: '';
								left: 0;
								top: 0;
								width: 2px;
								height: 100%;
								background-color:  var(--cg-color-highlight);
								z-index: 100;
								transition: 1s;
							}
						}
						.ref-lineTextHighlight {
							cursor: pointer;
							align-self: stretch;
							display: flex;
							align-items: center;
							padding: 6px 8px 6px 8px;
							overflow: hidden;
							.ref-lineText {
								width: 100%;
								.ref-name {
									background-color: var(--cg-color-highlight);
									background-clip: text;
								}
							}
						}
						.active-ref {
							background-color: #2a9c8e78;
						}
					}
				}
				// &::after {
				// 	position: absolute;
				// 	content: '';
				// 	height: 100%;
				// 	background-color: rgba(255, 255, 255, 0.5);
				// 	width: 1px;
				// 	top: 0px;
				// 	left: 7px;
				// }
			}
			.showMoreBtn {
				cursor: pointer;
				padding: 6px 0px 1px;
				position: absolute;
				bottom: 1px;
				left: 0;
				right: 0;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background: linear-gradient(to bottom,  var(--cg-bg-op) 30%, var(--cg-bg-fade-op) 70%);
			}
			.ref-file-divide {
				width: auto;
				height: 1px;
				background-color: var(--cg-border);
			}
		}
	}
	.refs.clearable {
		cursor: url('../icon/cur-w.svg') 15 10, auto;
		.ref-file:has(.file-title:hover) {
			@wink-border();
		}
		.ref-line,.ref-lineTextHighlight {
			cursor: url('../icon/cur-w.svg') 15 10, auto !important;
		}
		.ref-line.hover-ref {
			&.active-ref::after {
				opacity: 0.3;
			}
			animation: 1s border-left infinite;
		}
		.ref-lineTextHighlight.hover-ref {
			animation: 1s border-right infinite;
		}
	}

	.define-title,.reference-title {
		background-color: var(--cg-bg-fade);
		padding: 4px 8px;
		font-size: var(--fz-md);
		border-top: 1px solid var(--cg-border);
		border-bottom: 1px solid #110f0f4a;

		& > span {
			font-size: var(--fz-xs);
		}
	}

	.reference-title { 
		position: relative;
		.tools {
			display: flex;
			align-items: center;
			position: absolute;
			right: 8px;
			top: 50%;
			gap: 6px;
			transform: translateY(-50%);
			color: var(--cg-color-fade);
			z-index: 9999;
			.reverse {
				transform: rotate(180deg);
			}
		}
	}
}
