.expand-wrap {
	display: grid;
	overflow: hidden;
	grid-template-rows: 0fr;
	transition: .3s;
}
.expand-wrap.expanded {
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.expand-inner {
	min-height: 0;
	opacity: 0;
	transition: .3s;
}
.expand-inner.expanded {
	opacity: 1;
}